{% extends "layout.html" %}
{% load static from staticfiles %}
{% load contract_extras %}

{% block static %}<link rel="stylesheet" href="{% static 'directory/css/directory.css' %}">{% endblock %}

{% block title %}Drivers{% endblock %}

{% block navbar %}
<!-- STRIPE -->
<header class="py-2 bg-success text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><i class="fa fa-drivers-license"></i> Drivers</h1>
      </div>
    </div>
  </div>
</header>

<!-- BUTTONS -->
<section class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        {% if user.is_authenticated %}
          <a href="#" class="btn btn-success btn-block">
            <i class="fa fa-plus"></i> Add Driver
          </a>
        {% endif %}
      </div>
      <div class="col-md-6 ml-auto">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-success">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


{% block content %}
<section>
  <div class="container">
    <table class="table table-hover">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>License</th>
          <th>Date of Birth</th>
          <th>Eligible</th>
        </tr>
      </thead>
      <tbody>
      {% for driver in drivers %}
      {% if driver.eligible %}
        <tr class="text-success">
      {% else %}
        <tr class="text-danger">
      {% endif %}
          <td scope="row"><a href="{% url 'directory:driver_detail' provider_pk=driver.provider.pk driver_pk=driver.pk %}">{{ driver }}</a></td>
          <td>{{ driver.provider.business_name }}</td>
          <td>{{ driver.license }}</td>
          <td>{{ driver.birth_date }}</td>
          <td>{{ driver.eligible }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
