{% extends "layout.html" %}
{% load static from staticfiles %}
{% load contract_extras %}

{% block static %}<link rel="stylesheet" href="{% static 'directory/css/directory.css' %}">{% endblock %}

{% block title %}Drivers{% endblock %}

{% block navbar %}
<!-- STRIPE -->
<header class="py-2 bg-success text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><i class="fa fa-drivers-license"></i> Drivers</h1>
      </div>
    </div>
  </div>
</header>

<!-- BUTTONS -->
<section class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#newDriverModal">
            <i class="fa fa-plus"></i> Add Driver
          </a>
        </div>
      <div class="col-md-6 ml-auto">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-success">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- DRIVER MODAL -->
<div class="modal fade" id="newDriverModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title">Add Driver</h5>
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="license">License Number</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="bday">Birthday</label>
            <input type="date" name="bday">
          </div>
          <div class="form-group">
            <label for="mode">Mode</label></br>
            <label class="checkbox-inline">
              <input type="checkbox" value="sedan"> Sedan
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="wheelchair"> Wheelchair
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="stretcher"> Stretcher
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="secure"> Secure
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" value="ambulance"> Ambulance
            </label>
          </div>
          <div class="form-group">
            <label for="hiredate">Date of Hire</label>
            <input type="date" name="hiredate">
          </div>
          <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-success" data-dismiss="modal">Save & Submit</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <table class="table table-hover">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>License</th>
          <th>Date of Birth</th>
          <th>Eligible</th>
        </tr>
      </thead>
      <tbody>
      {% for driver in drivers %}
      {% if driver.eligible %}
        <tr class="text-success">
      {% else %}
        <tr class="text-danger">
      {% endif %}
          <td scope="row"><a href="{% url 'directory:driver_detail' provider_pk=driver.provider.pk driver_pk=driver.pk %}">{{ driver }}</a></td>
          <td>{{ driver.provider.business_name }}</td>
          <td>{{ driver.license }}</td>
          <td>{{ driver.birth_date }}</td>
          <td>{{ driver.eligible }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
