{% extends "layout.html" %}
{% load static from staticfiles %}
{% load humanize %}

{% block static %}<link rel="stylesheet" href="{% static 'directory/css/directory.css' %}">{% endblock %}

{% block title %} {{ provider.business_name }} {% endblock title %}

{% block content %}
<article>
  <h1>{{ provider.business_name}}</h1>
  {{ provider.address }}
  <h2>Contracts</h2>
  <ul>
  {% for contract in provider.contract_set.all %}
    <li>{{ contract.start_date|date:"m/d/Y" }} - {{ contract.end_date|date:"m/d/Y" }}</li>
  {% endfor %}
  </ul>
  <section>
  <h2>Drivers</h2>
    <p>This provider has {{ provider.driver_set.count|apnumber }} driver{{ provider.driver_set.count|pluralize }}:
      {{ provider.driver_set.all|join:", " }}</p>
    {% for driver in provider.driver_set.all %}
      <h3>
        <a href="{% url 'directory:driver_detail' provider_pk=driver.provider.pk driver_pk=driver.pk %}">
          {{ driver.first_name }} {{ driver.last_name}}
        </a>
      </h3>
      {{ driver.driver_id }}
    {% endfor %}
  </section>
</article>
{% endblock content %}
