{% extends "layout.html" %}

{% block title %}Report an Issue{% endblock %}

{% block navbar %}
<header class="py-2 bg-danger text-white mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><i class="fa fa-comment"></i> Report an Issue</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="site-container">
  {% if messages %}
    <div class="row justify-content-center">
      {% for message in messages %}
        <div data-alert class="alert alert-success">
          {{ message }}
          <a href="#" class="close" data-dismiss="alert">&times;</a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="row">
    <form action="" method="POST">
      {{ form.as_p }}
      <!-- to validate that data is being submitted to local site -->
      {% csrf_token %}
      <input type="submit" class="button btn btn-secondary">
    </form>
  </div>
</div>
{% endblock %}
