{% load static from staticfiles %}
{% load contract_extras %}

<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block static %}{% endblock %}
  </head>
  <body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
      <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand" >Transportation Directory</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item px-2">
              <a href="{% url 'directory:dashboard' %}" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item px-2">
              <a href="{% url 'directory:provider_list' %}" class="nav-link">Providers</a>
            </li>
            <li class="nav-item px-2">
              <a href="{% url 'directory:driver_list' %}" class="nav-link">Drivers</a>
            </li>
            <li class="nav-item px-2">
              <a href="{% url 'directory:training_nav' %}" class="nav-link">Training</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mr-3">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> Welcome User!
              </a>
              <div class="dropdown-menu">
                <a href="profile.html" class="dropdown-item">
                  <i class="fa fa-user-circle"></i> Profile
                </a>
                <a href="settings.html" class="dropdown-item">
                  <i class="fa fa-gear"></i> Settings
                </a>
                <a href="{% url 'issue' %}" class="dropdown-item">
                  <i class="fa fa-comment"></i> Report an Issue
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a href="login.html" class="nav-link">
                <i class="fa fa-user-times"></i> Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- SECOND NAVBAR -->
    {% block navbar %}{% endblock %}

    <!-- SITE -->
    {% block content %}{% endblock %}

    <!-- FOOTER -->
    <footer id="main-footer" class="bg-dark text-white mt-5 p-2 sticky-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="lead text-center">Created by Ashley Riehl</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
